# Data Types, Operators & Variables Lesson

<hr style="border:2px solid gray">

<div class="alert alert-block alert-info">
<b>Quick Lesson:</b> Let's discuss markdown for Jupyter Notebook first</div>

# This is a markdown cell

## This is a markdown cell

### This is a markdown cell

* this is a bullet
    * this is a sub bullet

1. This is a numbered line
2. This is a numbered line

<hr style="border:2px solid gray">

# Python Data Types
## Booleans

In [1]:
True

True

In [2]:
False

False

In [3]:
True == True

True

In [4]:
True == False

False

In [5]:
True != True

False

In [6]:
not True

False

In [7]:
True and False

False

In [8]:
True or True

True

In [9]:
False or False or False or True

True

<hr style="border:1px solid gray">

# Variable Assignment

In [10]:
x = 1

In [11]:
x

1

In [12]:
x = 2

In [13]:
x

2

In [14]:
it_is_july_14 = True
it_is_july_20 = False

In [15]:
it_is_july_20

False

In [16]:
x = 3

In [17]:
x == 3

True

In [18]:
'x' == 3

False

<hr style="border:1px solid gray">

# Numbers

In [19]:
1

1

In [20]:
type(1)

int

In [21]:
type(1.0)

float

In [22]:
4 + 6

10

In [23]:
0.4 + 0.6

1.0

In [24]:
5 - 6

-1

In [25]:
4 / 2

2.0

In [26]:
4 // 3

1

In [27]:
4.2 + 1

5.2

In [28]:
4.0 + 1

5.0

In [29]:
5 % 2

1

In [30]:
x = 2/2

In [31]:
x

1.0

In [32]:
y = x + 1

In [33]:
y

2.0

In [34]:
x = x + 1

In [35]:
x

2.0

In [36]:
int(2.0)

2

In [37]:
bool(0)

False

In [38]:
bool(1)

True

In [39]:
bool(2)

True

In [40]:
bool(-1)

True

In [41]:
9 * 2

18

In [42]:
9 ** 2

81

In [43]:
9 > 2

True

In [44]:
9 >= 9

True

In [45]:
9 <= 9

True

In [46]:
9 != 3

True

<div class="alert alert-block alert-info">
<b>NOTE:</b> 
    
- <b>or</b>: at least <u>one</u> of the components must be true
- <b>and</b>: <u>all</u> of the components must be true
    </div>

In [47]:
9 > 1 or 8+3 == 5

True

In [48]:
9 > 1 and 8+3 == 5

False

In [49]:
(9 > 1) and (2 < 3)

True

In [50]:
0 < (1 & 0) < 2

False

In [51]:
0 < (1 | 0) < 2

True

In [52]:
0.1 + 0.2

0.30000000000000004

In [53]:
round(0.1 + 0.2, 1) == 0.3

True

# Strings

In [54]:
#single quotes work
'Hello World'

'Hello World'

In [55]:
#double quotes work as well
"Hello World"

'Hello World'

In [161]:
#here we will get an error because
##Python thinks we are ending the string at 'd'
'Hello World's

SyntaxError: invalid syntax (3063188544.py, line 3)

In [162]:
#we can fix the error by using double quotes
"Hello World's"

"Hello World's"

In [57]:
#or by using the escape character \
'Hello World\'s'

"Hello World's"

In [58]:
"""
This is a multi string line
Hello world
"""

'\nThis is a multi string line\nHello world\n'

In [59]:
#a print statement
print('Hello World')

Hello World

In [60]:
'hello' == 'world'

False

In [61]:
'hello' == 'hello'

True

In [62]:
#we can add two strings together (concatinate)
'abc' + 'def'

'abcdef'

In [63]:
#but we cannot add different datatypes to eachother
'2' + 1

TypeError: can only concatenate str (not "int") to str

In [64]:
#if we change the string to an integer, we can add them
int('2') + 1

3

In [65]:
#convert an int to a str
str(2)

'2'

In [66]:
#but we cannot convert a str to an int
int('s')

ValueError: invalid literal for int() with base 10: 's'

In [67]:
pie = 3.14

In [68]:
pie + 1

4.140000000000001

In [69]:
#to add a space between strings
'abc' + ' ' +'def'

'abc def'

In [70]:
'2' + str(1)

'21'

In [73]:
#input will allow the user to input whatever they want 
my_response = input('Enter your password here: ')

Enter your password here: tasha is the best

In [74]:
my_response

'tasha is the best'

# String Formatting

In [80]:
name = 'Tasha'

In [81]:
name

'Tasha'

In [82]:
'Hello %s' % name

'Hello Tasha'

In [83]:
'Hello %s, %s' % (name, 'Aswathy')

'Hello Tasha, Aswathy'

In [84]:
'Hello %s, %s, %s' % (name, 'Aswathy', 'Colton')

'Hello Tasha, Aswathy, Colton'

In [85]:
'Hello {}, {}, {}'.format(name, 'Aswathy', 'Colton')

'Hello Tasha, Aswathy, Colton'

In [86]:
f"Hello {name}, {'Aswathy'}, {0+1}"

'Hello Tasha, Aswathy, 1'

In [87]:
name = ['Tasha', 'Aswathy', 'Colton']

In [88]:
f"Hello {name}"

"Hello ['Tasha', 'Aswathy', 'Colton']"

In [89]:
#This is a mathematical operation
1+2

3

# String Methods

In [90]:
#lowercase the entire string
'HELLO'.lower()

'hello'

In [91]:
str.lower('hello')

'hello'

In [92]:
#capitalize the entire string
'hello'.upper()

'HELLO'

In [93]:
#operations are in sequence
'hello'.upper().lower()

'hello'

In [94]:
#strips all the white space and the requested items
"       Hello      ".strip(' lo')

'He'

In [95]:
#asking Pythin is this string consist of digits
'123'.isdigit()

True

In [96]:
#asking Pythin is this string consist of digits
'A123'.isdigit()

False

In [97]:
'Hello Robinson'

'Hello Robinson'

In [98]:
#split defaults to white space
'Hello Robinson'.split()

['Hello', 'Robinson']

In [99]:
#or we can specify where to split
'Hello,Robinson'.split(',')

['Hello', 'Robinson']

In [100]:
'ababababababa'.split('b')

['a', 'a', 'a', 'a', 'a', 'a', 'a']

In [101]:
#replacing the l with nothing
'hello'.replace('l', '')

'heo'

In [102]:
'hello tasha'.replace('tasha', 'madeleine')

'hello madeleine'

In [103]:
greeting = 'Hello Robinson'.split()

In [104]:
greeting

['Hello', 'Robinson']

In [105]:
' '.join(greeting)

'Hello Robinson'

In [106]:
' '.join(['Hello', 'Robinson'])

'Hello Robinson'

In [107]:
''.join(['Hello', 'Robinson'])

'HelloRobinson'

In [108]:
space = ' '

In [109]:
space.join(['Hello', 'Robinson'])

'Hello Robinson'

# Lists

In [110]:
#creating a list
my_list = [1, 2, 3]

In [111]:
#lists begin at index 0
my_list[2]

3

In [112]:
my_list = [4, 8, 15]

In [113]:
#there is no 3rd index, so we get an error
my_list[3]

IndexError: list index out of range

In [114]:
#lists can also be a list of strings
my_list2 = ['one', 'two', 'three']

In [115]:
my_list2[0]

'one'

In [116]:
x = 1

In [117]:
my_list3 = [x, 4, '3']

In [118]:
my_list3[2]

'3'

In [119]:
my_list = [1,2,3,4,5]

In [120]:
my_list[0:]

[1, 2, 3, 4, 5]

In [121]:
my_list[:4]

[1, 2, 3, 4]

In [122]:
my_list_of_lists = [[1,2,3], [4,5,6]]

In [123]:
my_list_of_lists[1][1:]

[5, 6]

In [124]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# List Methods

In [125]:
#we can also ask Python to create a list for us using range function
list_of_nums = list(range(1, 11))

In [126]:
list_of_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
#add the number 11 to our list
list_of_nums.append(11)

In [128]:
list_of_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [129]:
#remove the number 11 from our list
#this is telling us what number is removed, NOT giving us the list
list_of_nums.pop()

11

In [130]:
list_of_nums.pop()

10

In [131]:
#Now, let's call the list
list_of_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
list_of_nums.append(9)

In [133]:
list_of_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [134]:
#to see how many items are within the list
len(list_of_nums)

10

In [135]:
#how many characters are in the string
len('hello world')

11

In [136]:
#how many lists are there
len([[1,2,3], [4,5,6]])

2

In [137]:
#create a list of ints, str, and lists
list_of_random_stuff = [1, 'hello', [1,2,3]]

In [138]:
#asking what datatype is the second index in my list
type(list_of_random_stuff[2])

list

In [139]:
#convert the list into a list of strings
list(map(str, [1,2,3]))

['1', '2', '3']

# Tuples

In [141]:
tup_of_nums = (1,2,3)

In [142]:
type(tup_of_nums)

tuple

In [143]:
list(tup_of_nums)

[1, 2, 3]

In [144]:
tup_of_nums

(1, 2, 3)

In [145]:
tup_of_nums[2]

3

In [146]:
tup_of_nums[1] = 3

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [147]:
#create a dictionary
about_me = {'name': 'Tasha', 'age': 36}

In [148]:
#call that dictionary
about_me

{'name': 'Tasha', 'age': 36}

In [149]:
#call the specific key to get the name
about_me['name']

'Tasha'

In [150]:
#call the specific key to get the age
about_me['age']

36

In [151]:
#ask Python what keys are present in the dictionary
about_me.keys()

dict_keys(['name', 'age'])

In [164]:
#alter the list to add pets
about_me = {'name': 'Tasha', 
            'age': 36, 
            'pets': {'dogs': 'Marley', 'fish': ['Gregory', 'Finius']}}

In [165]:
#call out the key for pets and fish then the index for that list
about_me['pets']['fish'][0]

'Gregory'

In [166]:
#we can add to the age key
about_me['age'] + 1

37

In [167]:
#but it will not alter the dictionary permanently
about_me

{'name': 'Tasha',
 'age': 36,
 'pets': {'dogs': 'Marley', 'fish': ['Gregory', 'Finius']}}

In [155]:
#to alter permanently, we must reassign the variable
about_me['age'] = 37

In [157]:
#now, we can see it is changed
about_me

{'name': 'Tasha',
 'age': 37,
 'pets': {'dogs': 'Marley', 'fish': ['Gregory', 'Finius']}}

In [158]:
#we can also add another key value pair to our dictionary
new_key_and_value = {'height': 61}

In [159]:
about_me.update(new_key_and_value)

In [160]:
about_me

{'name': 'Tasha',
 'age': 37,
 'pets': {'dogs': 'Marley', 'fish': ['Gregory', 'Finius']},
 'height': 61}